@model TCN_NCKH.Models.DBModel.LichSuLamBai
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/HocSinh/Views/Shared/_LayoutHocSinh.cshtml";
}

<h1>Details</h1>

<div>
    <h4>LichSuLamBai</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiDiemBatDau)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiDiemBatDau)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThoiDiemKetThuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThoiDiemKetThuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLanRoiManHinh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLanRoiManHinh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrangThaiNopBai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrangThaiNopBai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ipaddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ipaddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TongDiemDatDuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TongDiemDatDuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DaChamDiem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DaChamDiem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LichThi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LichThi.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDeThiNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDeThiNavigation.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSinhVienNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSinhVienNavigation.Sinhvienid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
